@media only screen and (min-width: 1024px){
    #nav-bars-container{
        position: absolute;
        top: 3%;
        left: 2%;
        display: flex;
        flex-direction: column;
        width: 3.4vw;
        height: 33%;
    }

    #bg-nav{
        flex-direction: column;
    }
 
    #social-media-nav{
        flex-direction: column;
    }

    #social-media-nav a{
        width: 89%;
        height: 7vh;
        margin: 4%;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 950px){
    #project-name-and-description{
    display: flex;
    flex-direction: row;
    padding: 1%;
    }
    #project-image-container{
        width: 40%;
        margin: 1%;
        height: 50vh;
    }
    #project-description{
        width: 45%;
        margin: 1%;
    }

    #what-i-do-list{
        width: 60%;
        margin: auto;
    }

    footer ul{
        width: 50%;
        align-self: center;
    }
}

@media only screen and (max-width: 802px){
    .skill-container{transform: rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(15rem);}  
}
